:root {
  --primary-color: #e24195;
  --text-color: #f0f0f0;
  --bg-body: #565353;
  --card-bg: #fff;
  --scrollbar-track: #f0f0f0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: var(--bg-body);
  min-height: 100vh;
}

#root {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0 10px;
  margin: auto;
  flex: 1;
}

/* --- NAV & HEADER --- */
#top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

header {
  color: #d1bac6;
  font-size: 2.5rem;
  font-family: "Boska", serif;
  text-align: center;
  flex: 1;
}

#top-buttons {
  position: absolute;
  right: 0;
  display: flex;
  gap: 0.5rem;
  margin-right: 70px;
}

#back-to-shows,
#refresh-shows {
  color: #413e3f;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 8px var(--primary-color);
  letter-spacing: 0.4px;
  transition: background-color 0.2s ease;
  font-family: "Chillax", sans-serif;
}

#refresh-shows:hover,
#back-to-shows:hover {
  color: var(--primary-color);
}

#show-select,
#show-search,
#episode-select,
#episode-search {
  background-color: #f9f9f9;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  max-width: 300px;
  font-size: 1rem;
}

#episode-select {
  max-width: 420px;
}

label,
#show-count,
#search-count {
  color: #f0f0f0;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  gap: 50px;
  font-family: "Chillax", sans-serif;
}

nav {
  background-color: #0a010833;
  border-radius: 6px;
}

#show-controls,
#episode-controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem;
  margin-bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 30px solid;
  color: #e24195;
}

/* --- EPISODE CARDS --- */
.episode-card {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 4px 8px var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 30%;
  min-width: 300px;
  transition: transform 0.2s ease;
}

.episode-card:hover {
  transform: translateY(-4px);
}

.episode-card h2 {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  padding: 1rem 1rem 0 1rem;
  border-bottom: 2px solid var(--primary-color);
  font-family: "Chillax", sans-serif;
}

.episode-card h3 {
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #0a1ce6;
  margin: 0 auto;
  font-weight: 800;
}

a {
  text-decoration: none;
}

.episode-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 6px;
}

.episode-card p {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #070303;
  margin: 15px 0;
}

.episode-card p[data-summary] {
  max-height: 12em;
  overflow-y: auto;
  padding-right: 2px;
}

.episode-card p[data-summary]::-webkit-scrollbar {
  width: 6px;
}

.episode-card p[data-summary]::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

.episode-card p[data-summary]::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* --- SHOW CARDS --- */
.show-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  gap: 20px;
  width: 90%;
  box-shadow: 0 4px 8px var(--primary-color);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.show-card-content {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
}

.show-card:hover {
  transform: scale(1.02);
}

.show-card .show-title {
  width: 100%;
  justify-content: center;
}

h2.show-title {
  text-align: center;
}

.show-card h2 {
  font-family: "Chillax", sans-serif;
  font-size: 2rem;
  border-bottom: 2px solid var(--primary-color);
}

.show-card img {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.summary-and-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.show-card .show-details {
  font-size: 1rem;
  color: #333;
  flex: 0 0 200px;
}

.show-card .show-details p {
  line-height: 1.4;
}

/* --- FOOTER --- */
#footer {
  text-align: right;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: "Chillax", sans-serif;
  margin-top: 1rem;
  padding: 10px;
  background-color: #0e010bbe;
  color: #cdc7c9;
}

#footer a {
  color: #e24195;
}

#footer.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.loading {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  padding: 20px;
}

.error {
  font-size: 1.2rem;
  color: red;
  text-align: center;
  padding: 20px;
}
